@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

* {
    margin: 0;
    padding: 0;
}



.ulbar i {

    margin-top: 10px;
    margin-left: 30px;
    position: absolute;
    color: #000;

}

.ulimg {
    
    width: 100%;
    display: flex;
    justify-content: center;
}


.ulimg img {
    padding: 10px;
    width: 20%;
}






.img img{
    width: 100%;
    height: 20rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-object-fit: cover;
    object-fit: cover;}


.articlepalette {
    padding-top: 15px;
    margin-top: -3rem;
    border-radius: 2rem 2rem 0 0;
    background-color: #F7F7F7;
    z-index: 1;
    position: relative;
    padding: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.linkpalette {
    color: black;
    width: 27%;
    padding-left: 55px;
 justify-content: space-evenly;
 text-decoration: none;
 margin-top: 6px;

}


.articlepalette .linkpalette i:hover {
        -webkit-background-clip: text;
        font-weight: 700;
        background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
        -webkit-text-fill-color: transparent;
        transition: 1s linear;
        opacity: 0;
        animation: FadeOut 3s forwards; 
}
@keyframes FadeOut {
    to {
        opacity: 1;
    }
}
h1 {
    margin-left: 71px;
    padding-bottom: 15px;
    text-align: center;
    font-family: 'Shrikhand';
    font-size: 20px;
    border-radius: 50%;
}

/**************/
.check {

    background: #99E2D0;
    position: absolute;
    padding: 24px;
    right: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    top: 0px;
    visibility: hidden;
    color: white;
    transition: 1s linear;
    animation: FadeOutCheck 3s forwards; 
}

@keyframes FadOutCheck {

    to{
        transition:right 3s ease-in-out 0.5s;
    }

}

.menu {
    display: flex;
    position: relative;
}

.title {
    width: 80%;
}
.price {
    margin-top: 7px;
        width: 20%;
    text-align: right;
}


.menu span {
    font-weight: 700;
}


.topA:hover {

    .title {
        text-overflow: ellipsis;
    }
    
    .price {
        top: 15px;
        position: absolute;
        right: 70px;
        transition-timing-function: ease-in-out;    }


    .check {
        visibility: visible;
        right: 0px;
        transition-timing-function: ease-in-out;
    }



}



/*************/

.hr {
    width: 10%;
    border: 2px solid #99E2D0;
    margin-bottom: 15px;
}

.topA {
    border: 2px  ;
    box-shadow: 2px 2px 15px 5px #00000021;
    padding: 15px;
    padding-right: 5px;
    border-radius: 15px;
    animation-delay: 0s;
}



.topA p, h3  {
    font-size: medium;
    width: 85%;
}


.topB p, h3  {
    font-size: medium;
    width: 85%;
}
.topC p, h3  {
    font-size: medium;
    width: 85%;
}

.middleA p, h3 {
    font-size: medium;
    width: 85%;
}
.middleB p, h3 {
    font-size: medium;
    width: 85%;
}
.middleC p, h3 {
    font-size: medium;
    width: 85%;
}

.bottomA p, h3 {
    font-size: medium;
    width: 85%;
}
.bottomB p, h3 {
    font-size: medium;
    width: 85%;
}
.bottomC p, h3 {
    font-size: medium;
    width: 97%;
}


.topA p {
    display: flex;
        font-size: smaller;

}

.topB {
    border: 2px  ;
    margin-top: 15px;
    box-shadow: 2px 2px 15px 5px #00000021;
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 20px;
    border-radius: 15px;
    animation-delay: 0.1s;
}

.topB p {
    display: flex;
        font-size: smaller;

}

.topB span{
    display: flex;
    justify-content: end;
    z-index: 5;
    margin-top: -23px;
    font-weight: 700;
        line-height: 15px;
}
.topC{
    border: 2px  ;
    margin-top: 15px;
    box-shadow: 2px 2px 15px 5px #00000021;
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 20px;
    border-radius: 15px;
    animation-delay: 0.3s;
}

.topC p {
    display: flex;
        font-size: smaller;

}

.topC span{
    display: flex;
    justify-content: end;
    z-index: 5;
    margin-top: -23px;
    font-weight: 700;
        line-height: 15px;
}


.middleA {
    padding-bottom: 15px;
    margin-top: 15px;
    border: 2px  ;
    box-shadow: 2px 2px 15px 5px #00000021;
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 20px;
    border-radius: 15px;
}

.middleA p {
    display: flex;
    font-size: 12.7px;
}

.middleA span{
    display: flex;
    justify-content: end;
    z-index: 5;
    margin-top: -23px;
        font-weight: 700;
            line-height: 15px;

}
.middleB {
    border: 2px  ;
    margin-top: 15px;
    box-shadow: 2px 2px 15px 5px #00000021;
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 20px;
    border-radius: 15px;
}

.middleB p {
    display: flex;
    font-size: smaller;

}

.middleB span{
    display: flex;
    justify-content: end;
    z-index: 5;
    margin-top: -23px;
        font-weight: 700;
            line-height: 15px;

}
.middleC{
    border: 2px  ;
    margin-top: 15px;
    box-shadow: 2px 2px 15px 5px #00000021;
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 20px;
    border-radius: 15px;
}

.middleC p {
    display: flex;
    font-size: smaller;

}

.middleC span{
    display: flex;
    justify-content: end;
    z-index: 5;
    margin-top: -23px;
        font-weight: 700;
            line-height: 15px;

}



.bottomA {
    padding-bottom: 15px;
    margin-top: 15px;
    border: 2px  ;
    box-shadow: 2px 2px 15px 5px #00000021;
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 20px;
    border-radius: 15px;
    font-weight: 200;
}

.bottomA p {
    display: flex;
    font-size: smaller;

}

.bottomA span{
    display: flex;
    justify-content: end;
    z-index: 5;
    margin-top: -23px;
        font-weight: 700;
            line-height: 15px;

}
.bottomB {
    border: 2px  ;
    margin-top: 15px;
    box-shadow: 2px 2px 15px 5px #00000021;
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 20px;
    border-radius: 15px;
    font-weight: 200;
}

.bottomB p {
    display: flex;
    font-size: smaller;

}

.bottomB span{
    display: flex;
    justify-content: end;
    z-index: 5;
    margin-top: -23px;
        font-weight: 700;
            line-height: 15px;

}

.bottomC{
    border: 2px  ;
    margin-top: 15px;
    box-shadow: 2px 2px 15px 5px #00000021;
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 20px;
    border-radius: 15px;
    font-weight: 200;
    width: 98%;

}

.bottomC p {
    display: flex;
    font-size: smaller;

}

.bottomC span{
    display: flex;
    justify-content: end;
    z-index: 5;
    margin-top: -23px;
        font-weight: 700;
            line-height: 15px;

}


.command {
    display: flex;
}
.buttonCommand {
    text-decoration: none;
    text-align: center;
    list-style: none;
    color: white;
    font-weight: 700;
    background: linear-gradient(360.33deg, #9356DC -11.44%, #FF79DA 123.93%);    
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    margin-bottom: 35px;
    margin-left: 25%;
    width: 40%;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}
.divtop {
    padding-top: 5%;
    width: 100%;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    
}


.divmiddle {
    padding-top: 5%;
    width: 100%;
    opacity: 0;
    animation: fadeIn 5s ease-in-out forwards;
}

.divbottom {
    padding-top: 5%;
    width: 100%;
    opacity: 0;
    animation: fadeIn 3s ease-in-out forwards;
    padding-bottom: 25px;
}





@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
  }














/****Footer****/

.footer { 
    background-color: rgb(44, 44, 44);
    padding: 10px;
}

.footer .footercontainer {
    display: flex;
    flex-direction: column;
    padding: 1px;
}

.footer-logo {
    font-family: shrikhand, "cursive";
    font-size: larger ;
    color: white;
    display: flex;
    flex-direction: column-reverse;
}

.footer-liste {

    list-style: none;
    padding: 0;
    margin: 0;

}
.listebottom {
    margin: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: start;
}
.listebottom1 {
    display: flex;
    flex-direction: column-reverse;
    margin: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: start;
}


.listeAbottom {
    color: #fff;
    text-decoration: none;

}

.listeAbottom i {
    padding-right: 15px;
}

@media screen and (min-width: 1024px){
    .divtop {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 50px;
        
    }
    
    .divmiddle {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-right: auto;
        margin-left: auto;
        padding-bottom:  50px;
    }
    
    .divbottom {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-right: auto;
        margin-left: auto;
        padding-bottom:  50px;
    }

    
    .bottomC {
        width: 98.5%;
    }
    .hr {width: 2%;
    }
    .divtop {
        padding-top: 5%;
        width: 65%;
        opacity: 0;
        animation: fadeIn 1s ease-in-out forwards;
        
    }
    
    .divmiddle {
        padding-top: 5%;
        width: 65%;
        opacity: 0;
        animation: fadeIn 2s ease-in-out forwards;
    }
    
    .divbottom {
        padding-top: 5%;
        width: 65%;
        opacity: 0;
        animation: fadeIn 3s ease-in-out forwards;
    }
    
    
    
    
    
    @keyframes fadeIn {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    
    
    
    
    

    
    .ulbar i {

        margin-top: 23px;
        margin-left: 30px;
        position: absolute;
    
    }
    
    .ulimg {
        
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
.command {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.articlepalette {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.articlepalette h1 {
    font-size: 30px;
    padding-top: 25px;
}


.img img {
    height: 565px;
}

.ulbar i {

    margin-top: 17px;
    margin-left: 30px;
    position: absolute;
color: #000;
}
.footer-liste {
    display: flex;
    margin-left: auto;
    gap: 15px;
}
}