@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color:  #f7f7f7;
}

.ulbar {
    margin-top: -6%;
}

.bar h1 {
    font-family: 'Shrikhand';
    text-align: center;
}


.search {
    display: flex;
    position: relative;
}
.search input {
    background-color: #eaeaea;
    width: 99%;
    padding: 5%;
    text-align: center;
    overflow: hidden;
    border: 0;
    box-shadow: inset 0px 10px 8px -3px #0000004d;

}
.search input::placeholder{
    color: black;
    opacity: 1;
    font-size: large;
}

.search i {
    position: absolute;
    top: 30%;
    padding-left: 25%;
}

/********Body*********/
.reserve h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 5%;
}

.reserve p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 86px;
        text-align: center;
}


.explore {
    padding-top: 15%;
    text-align: center;

}
.explore .explorer {
    background: linear-gradient(356.33deg, #9356DC -11.44%, #FF79DA 123.93%);	background-color:#b800b8;
	border-radius:38px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size:20px;
	padding:17px 20px;
	text-decoration:none;
}

.fonctionnement {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 15%;
    padding-left: 5%;
}

.restaurant:hover {
 color: #9356DC;
}
.restaurant2:hover {
 color: #9356DC;
}
.restaurant3:hover {
  color: #9356DC;   
}

.restaurant {
    width: 70%;
    display: flex;
    gap: 5%;
    border-radius:22px;
	border:1px solid #2020201f;
    margin-left: 10%;
    margin-top: 15%;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 7%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.restaurant2 {
    width: 70%;
    display: flex;
    gap: 5%;
    border-radius:22px;
	border:1px solid #2020201f;
    margin-left: 10%;
    margin-top: 15%;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 7%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.restaurant3 {
    width: 70%;
    display: flex;
    gap: 5%;
    border-radius:22px;
	border:1px solid #2020201f;
    margin-left: 10%;
    margin-top: 15%;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 7%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.restaup {
    background: #9356DC;
    	border-radius:38px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
    position: absolute;
    margin-top: -78%;
    margin-left: 7%;

}
.restaup2 {
    background: #9356DC;
    	border-radius:38px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
    position: absolute;
    margin-top: -45%;
    margin-left: 7%;

}
.restaup3 {
    background: #9356DC;
    	border-radius:38px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
    position: absolute;
    margin-top: -12%;
    margin-left: 7%;

}
.restauh3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 5%;
}

/****img div 1 ****/


.restaubottom{
    width: 100%;
    background: #F7F7F7;

}
.card {
    text-decoration: none;
    list-style: none;
    color: #000000;
    background-color: transparent;
    border: 21px;
    height: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}
.cardimg {
    text-decoration: none;
    list-style: none;
    padding: 5px;
    width: 90%;
    margin-top: 35px;
    border: 21px;
    margin: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.imgrestau1 {
    width: 100%;
    padding-top: 10%;
    padding-bottom: 75px;


}

.imgrestau1 img {
    width: 100%;
    height: 305px;
    border-radius: 15px;

}

.imgrestau1 h4, p {
    padding-left: 5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
}

.imgrestau1 i {
    float: right;
    margin: 5%;
    margin-top: -10%;
     padding-right: 5%; 
     font-size: 30px;

}

/****img div 2 ****/

.imgrestau2 {
    width: 100%;
    padding-top: 10%;
    padding-bottom: 75px;

}

.imgrestau2 img {
    width: 90%;
    padding-left: 5%;
    height: 305px;
    padding-bottom: 15px;
    border-radius: 15px;



}

.imgrestau2 h4, p {
    padding-left: 5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
}

.imgrestau2 i {
    float: right;
    margin: 5%;
    margin-top: -10%;
     padding-right: 5%; 
     font-size: 30px;

}

/****img div 3 ****/

.imgrestau3 {
    width: 100%;
    padding-top: 10%;
    padding-bottom: 75px;

}

.imgrestau3 img {
    width: 90%;
    padding-left: 5%;
    height: 305px;
    padding-bottom: 15px;
    border-radius: 15px;



}

.imgrestau3 h4, p {
    padding-left: 5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
}

.imgrestau3 i {
    float: right;
    margin: 5%;
    margin-top: -10%;
     padding-right: 5%; 
     font-size: 30px;

}

/****img div 4 ****/

.imgrestau4 {
    width: 100%;
    padding-top: 10%;
    padding-bottom: 75px;

}

.imgrestau4 img {
    width: 90%;
    padding-left: 5%;
    height: 305px;
    padding-bottom: 15px;
    border-radius: 15px;



}

.imgrestau4 h4, p {
    padding-left: 5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
}

.imgrestau4 i {
    float: right;
    margin: 5%;
    margin-top: -10%;
    font-size: 30px;

     padding-right: 5%; 
     
}

.imgrestau1 i:hover {
    -webkit-background-clip: text;
    font-weight: 900;
    background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    -webkit-text-fill-color: transparent;
}

.imgrestau2 i:hover {
    -webkit-background-clip: text;
    font-weight: 900;
    background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    -webkit-text-fill-color: transparent;
}


.imgrestau3 i:hover {
    -webkit-background-clip: text;
    font-weight: 900;
    background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    -webkit-text-fill-color: transparent;
}


.imgrestau4 i:hover {
    -webkit-background-clip: text;
    font-weight: 900;
    background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    -webkit-text-fill-color: transparent;
}

/****Footer****/

.footer { 
    background-color: rgb(44, 44, 44);
    padding: 10px;
}

.footer .footercontainer {
    display: flex;
    flex-direction: column;
    padding: 1px;
}

.footer-logo {
    font-family: shrikhand, "cursive";
    font-size: larger ;
    color: white;
}

.footer-liste {
    list-style: none;
    padding: 0;
    margin: 0;

}
.listebottom {
    margin: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: start;
}
.listebottom1 {
    margin: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: start;
}

.listeAbottom {
    color: #fff;
    text-decoration: none;

}

.listeAbottom i {
    padding-right: 15px;
}

@media screen and (min-width:1024px) {
    .search input {
        background-color: #eaeaea;
        width: 99%;
        padding: 2%;
        text-align: center;
        overflow: hidden;
        border: 0;
        box-shadow: inset 0px 10px 8px -3px #0000004d;
    }
    .search i {
        position: absolute;
        top: 40%;
        padding-left: 45%;
    
    }
    .bar h1 {
        padding: 10px;
    }

    .explore {
        padding-top: 6%;
    }

    .restaurant {
        display: flex;
        width: 21%;
        padding: 2%;
margin-top: 15%;
        width: 100%;

    }
    .restaurant2 {
        display: flex;
        width: 21%;
        padding: 2%;
margin-top: 15%;
        width: 100%;

    }
    .restaurant3 {
        display: flex;
        width: 21%;
        padding: 2%;
margin-top: 15%;
        width: 100%;

    }
    .restaup {
        display: flex;
        margin-top: -4.2%;
        margin-left: 8%;
    }
    .restaup1 {
        display: flex;
        margin-top: -4.2%;
        margin-left: 8%;
    }
    .restaup2 {
        display: flex;
        margin-top: -4.2%;
        margin-left: 8%;
    }

    .global {
        display: flex;
        width: 100%;
        margin-left: -65px;
    }

    .restaubottom {
        background: #F7F7F7;
        display: flex;
    }

    .restaubottom img{
        display: flex;
        height: 100%;
    }
    footer {
        display: flex;
    }

    .restauranttop {
        background: #F7F7F7;
        width: 50%;
        
    }
    .restauranttop img {
        height: 250px;
    }
    .restaurantbottom {
        width: 50%;
         
    }
    .restaurantbottom img {
        height: 250px;
    }
}